@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
} 
html, body{
    background-color: black;
    height: 100vh;
    width: 100vw;
}
body{
    background: url("../imagens/fundo-madeira.jpg") top center no-repeat fixed;
    background-size: cover;
}
main{
    position: relative;
    height: 100vh;
}
section#phone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 247px;
    background:  url("../imagens/frame-iphone.png") center center no-repeat fixed;
    background-size: contain;
}
iframe#screen{
    position: relative;
    top: 63px;
    left: 17px;
    height: 376px;
    width: 213px;
}
section#socialmedia > a > img{
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
}
section#socialmedia > a > img:hover{
    border: 4px solid rgba(255, 255, 255, 0.641);
    transform: translate(10px);
    box-shadow: 10px 10px 10px black;
    transition: transform 0.8s, border 0.8s;
}